rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /preferences/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /transactions/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /budgets/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /goals/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /bills/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /portfolio/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
